{% extends 'main_page.html' %}

{% load bootstrap4 %}

{% load static %}

{% block content %}


<div class="container">

	<h5 class="my-3 border-bottom pb-2">일러스트 업로드</h5>
	

	<div class = "card my-3 px-5 py-5" style="background-color:#ddd;">
		
		<div style = "display:flex; justify-content:center;">
		
		<img class="card-img-top mb-5 mb-md-0" id="preview-image" style="width:50%;" src="{% static 'icon/illust_alt.png' %}"/>
		
		</div>
	</div>

	<form method="post" class="post-form my-3" enctype="multipart/form-data">
	
		{% csrf_token %}
		{% bootstrap_form form %}
		
		<button type="submit" class="btn btn-primary">업로드</button>
	
	</form>


	<script>
	
		function readImage(input) {
		// 인풋 태그에 파일이 있는 경우
		var fileForm = /(.*?)\.(jpg|jpeg|png|gif|bmp|pdf)$/;
		var imgFile = $(".form-control-file").val();							
		// 정규식
	
		if(input.files && input.files[0]) {
			
			if(!imgFile.match(fileForm)){
				alert("이미지 파일만 업로드 가능합니다.");
				location.reload();
			}
			// 이미지 파일인지 검사 (생략)
			// FileReader 인스턴스 생성
			const reader = new FileReader();
			// 이미지가 로드가 된 경우
			reader.onload = e => {
				const previewImage = document.getElementById("preview-image");
				previewImage.src = e.target.result;
			}
			// reader가 이미지 읽도록 하기
				reader.readAsDataURL(input.files[0]);
			}
		} 
	
	
		$(document).ready(function(){	
			const inputImage = document.getElementById("id_illust_url");			// id_illust_url은 자동으로 생성된 input 태그의 id임
			
			if(inputImage != null){
				inputImage.addEventListener("change", e =>{ 
					readImage(e.target) });
			}
		});
	</script>

</div>

{% endblock %}