{% extends 'main_page.html' %}

{% block content %}
<style>

	.grid-item img {display: block; 
					min-width:100%; 
					max-width: 100%;
					padding:5px;
					border-radius: 20px;
					overflow:hidden;
					}
					
	.grid-item:hover{
		opacity:0.3;
	}				
	@media(min-width:900px){
		.grid-sizer, .grid-item { width: 25%; }
	}
	
	@media(max-width:500px){
		.grid-sizer, .grid-item { width: 50%; }
	}
	
	@media (min-width:501px) and (max-width:920px){
		.grid-sizer, .grid-item { width: 33%; }
	}

	
	.title{
		text-align:center;	
		margin-bottom:5px;
		font-size:15px;
		font-weight:bold;
	}
	
	.artist{
		text-align:center;
		margin-bottom:5px;
		font-size:12px;
	}
	
	a{
		color:black;
	}
	
	#btn_search{
		cursor:pointer
	}


</style>

	<!-- 검색 바 영역 -->
	
	<div class="my-3" style="width:100%; padding:30px"/>
		<div class="search">
			<input class="search_bar" type="text" placeholder="검색어 입력">
			
			<img class="magnify_icon" id = "btn_search" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
			
		</div>
	</div>

	<!-- masonry를 이용한 일러스트 보드 출력 -->
	<div class="grid">
		<div class="grid-sizer"></div>
		
			{% for illust in illust_objects %}
				<div class="grid-item">
				
					<a href="{% url 'IllustNet:illust_view' illust.id %}">
						<img src="/media/{{ illust.illust_url }}" />
					</a>
					
				</div>  
			{% endfor %}
		
	{% if page_obj.has_next %}
		<p class="pagination">
			<a class="next-page" href="?page={{ page_obj.next_page_number }}&kw={{kw}}">More...</a>
		</p>
	{% endif %}	
	</div>

	<div style="height:500px">
	</div>

	<script>
	
	$( document ).ready(function() {
		var msnry = new Masonry( '.grid',
		{ 
			columnWidth: '.grid-sizer',
			percentPosition: true
		});
		
		imagesLoaded( '.grid' ).on( 'progress', function() {  msnry.layout();
		});

		
		//var page = 0;
	
		jQuery(function ($) {
			var $list = $('.grid');
			$list.jscroll({
				padding: 100,
				pagingSelector: '.pagination',
				nextSelector: 'a.next-page:last',
				contentSelector: '.grid-item,.pagination',
				callback: addImgtoMasonry				// 아이템 추가를 마친 후 콜백되는 메서드
				//loadingFunction:function(){
				//
				//}

			});
	});
			
			function addImgtoMasonry(){
			
				//alert(page++);			// 아이템이 몇번 실행되는지 확인
			
				$('.pagination').remove()
				$('.jscroll-loading').remove();
				
				var added = $(".jscroll-added").contents();
				$(".jscroll-added").replaceWith(added);
				// 스크롤이 밑바닥에 닿아 item이 추가될 때 jScroll은 추가된 아이템을 jscroll-added div 클래스에 감싸 추가한다.
				// 이는 masonry으로 리스트를 생성할 때 방해 요소가 되므로 감싸고 있는 div를 제거하고 masonry를 적용한다.
				
				// 단 이 방법을 적용하면 jscroll으로 페이지를 2번 요청하게 되므로
				// 한 페이지의 지정된 아이템 개수의 2배가 로딩되는 버그가 발생한다.
				// 따라서 페이지 당 보여질 아이템 개수를 정할 때 이를 고려해야 한다.
				
				var msnry = new Masonry( '.jscroll-inner',
				{ 
					columnWidth: '.grid-sizer',
					percentPosition: true
				});
		
				imagesLoaded( '.jscroll-inner' ).on( 'progress', function() {  msnry.layout();
				});

			}
			
		});
		
		$(".search_bar").keyup(
		
			function(e){
				if(e.keyCode == 13)  
					location.href = "?kw=" + $(".search_bar").val() + "&page=1";
					
		});
		
		$("#btn_search").on('click',function(){							// 검색 키를 눌렀을 경우
			
			location.href = "?kw=" + $(".search_bar").val() + "&page=1";
		});

		
	</script>
{% endblock %}