{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top">

	<div class="row" style="width:100%">			<!-- 부모의 가로 100%를 차지한다. nav바를 row화 하여 12부분으로 나눔 -->
													<!-- width 속성은 부모의 크기에 몇 퍼센트를 차지하는지 기록할 수 있음-->
		
		
		<div class = "col-3" style="display:flex">	<!-- display:flex는 엘리먼트를 가로로 배열함 --> 
			<a class="navbar-brand" href="{% url 'IllustNet:index' %}">Illust.NET</a>
			
				<button class="navbar-toggler ml-auto" type="button"
				data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			
			<ul class="navbar-nav">
			
				<li class="nav-item mx-2 my-2">
					<a href="#"> 업로드</a>		
				</li>
			
			</ul>
			
		</div>

		<div class = "col-6" >

		</div>		
		
		<div class = "container col-3" style="justify-content:flex-end;"> 		<!-- justify-content:flex-end는 엘리먼트 요소를 끝에 추가함 -->
																				<!-- container class가 적용되어있어야 제대로 작동함. -->
		
			<div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
				
				<ul class="navbar-nav">
				
				{% if request.user.is_authenticated %}				
				
					<a class="nav-link" href="#">	 <!-- mypage 이동 앵커 -->
							
					<div style="display:flex">		<!-- flex css 속성은 가로로 엘리먼트를 배치하게 함 -->
	
							<li class="nav-item mx-2">
							
							<img src="{{ request.user.profile_img_url }}" 
									onerror="this.src='{% static 'icon/annonymous_user.png' %}'" class="rounded-circle" width="30" height="30">
							
							</li>
							
							<li class="nav-item ">
								{% if user.is_superuser == 1 %}
								<a class="nav-link" href="#">
										관리자 계정
								</a>
								
								{% else %}
										{{ user.nickname }}
								{% endif %}
							</li>
						</div>
						
					</a>
					
					<li class="nav-item ">
						<a class="nav-link" href="{%url 'common:logout' %}">로그아웃</a>
					</li>
					
					
				{% else %}
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'common:login' %}">로그인</a>
					</li>
					
					<li class="nav-item ">
						<a class="nav-link" href="{% url 'common:register' %}">회원가입</a>
					</li>
				{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>